@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body class='default'>
    <script type="text/javascript" src="~/Scripts/spin.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <style src="~/jqwidgets/styles/jqx.base.css" type="text/css"></style>
    <script src="https://fb.me/react-0.14.0.min.js"></script>
    <script src="https://fb.me/react-dom-0.14.0.min.js"></script>
    <script src="https://code.angularjs.org/1.5.0-beta.0/angular.js"></script>

    <script src="~/Scripts/angularjs/finance2.js"></script>
    <script src="~/Scripts/angularjs/invoice2.js"></script>
    <script src="~/Scripts/custom/machinedetail.js"></script>
    <h3>@ViewBag.MachineName</h3>
    <div id='spinner' class='spinner'></div>

    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-3">
                <div id="treeGrid"></div>
            </div>
            <div ng-app="machinedetail" class="col-lg-9">
                <div class="col-lg-12" ng-controller="MachineDetailController">
                    <h2>Machine: {{ machinename }}</h2><br />

                    <div class="col-md-6">
                        <ul>
                            <li>{{ description }}</li>
                            <li>
                                <ul>
                                    <li>{{ sockets }} sockets, {{ cores }} cores, {{ cpus }} logical processors</li>
                                    <li>{{ memory }} Memory</li>
                                    <li>{{ diskno }} #Disk</li>
                                    <li>Disk 1: {{ disk1 }}</li>
                                    <li ng-if="disk2">Disk2 : {{ disk2 }}</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <text>Current Stauts: {{ status }}<text ng-if="leaseuser">, lease to {{ leaseuser }}</text></text><br />
                        <text>Power Status: {{ powerstatus }}</text>
                        <text>The last job to run was {{ lastjob }} ( {{ jobbreif }})  </text>
                    </div>
                </div>
            </div>


        </div>
    </div>

</body>


