@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body class='default'>
    <script type="text/javascript" src="~/Scripts/spin.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <style src="~/jqwidgets/styles/jqx.base.css" type="text/css"></style>
    <script src="~/Scripts/custom/capjs.js"></script>
    <script src="https://fb.me/react-0.14.0.min.js"></script>
    <script src="https://fb.me/react-dom-0.14.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <script src="~/Scripts/angularjs/finance2.js"></script>
    <script src="~/Scripts/angularjs/invoice2.js"></script>
    <h3>@ViewBag.MachineName</h3>
    <div id='spinner' class='spinner'></div>

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3">
                <div id="treeGrid"></div>
            </div>
            <div ng-app="invoice2" ng-controller="InvoiceController as invoice" class="col-md-8">
                <b>Invoice:</b>
                <div>
                    Quantity: <input type="number" min="0" ng-model="invoice.qty" required>
                </div>
                <div>
                    Costs: <input type="number" min="0" ng-model="invoice.cost" required>
                    <select ng-model="invoice.inCurr">
                        <option ng-repeat="c in invoice.currencies">{{c}}</option>
                    </select>
                </div>
                <div>
                    <b>Total:</b>
                    <span ng-repeat="c in invoice.currencies">
                        {{invoice.total(c) | currency:c}}
                    </span>
                    <button class="btn" ng-click="invoice.pay()">Pay</button>
                </div>
            </div>
        </div>
    </div>

</body>


